.vs/FitnessCenterService/v14/.suo
.vs/config/applicationhost.config
FitnessCenterService/bin/EntityFramework.SqlServer.dll
FitnessCenterService/bin/EntityFramework.SqlServer.xml
FitnessCenterService/bin/EntityFramework.dll
FitnessCenterService/bin/EntityFramework.xml
FitnessCenterService/bin/Part_1.dll
FitnessCenterService/bin/Part_1.dll.config
FitnessCenterService/bin/Part_1.pdb
FitnessCenterService/bin/System.Data.SqlServerCe.dll
FitnessCenterService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FitnessCenterService/obj/Debug/FitnessCenterService.csprojResolveAssemblyReference.cache
FitnessCenterService/obj/Debug/Part_1.dll
FitnessCenterService/obj/Debug/Part_1.pdb
FitnessCenterService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FitnessCenterService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FitnessCenterService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FitnessCenterService/obj/Debug/edmxResourcesToEmbed/Models/FitnessCenterDbContext.csdl
FitnessCenterService/obj/Debug/edmxResourcesToEmbed/Models/FitnessCenterDbContext.msl
FitnessCenterService/obj/Debug/edmxResourcesToEmbed/Models/FitnessCenterDbContext.ssdl
packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
packages/EntityFramework.6.1.3/content/App.config.transform
packages/EntityFramework.6.1.3/content/Web.config.transform
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.dll
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.1.3/tools/init.ps1
packages/EntityFramework.6.1.3/tools/install.ps1
packages/EntityFramework.6.1.3/tools/migrate.exe
FitnessCenterService/bin/FitnessCenterService.dll
FitnessCenterService/bin/FitnessCenterService.dll.config
FitnessCenterService/bin/FitnessCenterService.pdb
FitnessCenterService/bin/Newtonsoft.Json.dll
FitnessCenterService/bin/Newtonsoft.Json.xml
FitnessCenterService/obj/Debug/DesignTimeResolveAssemblyReferences.cache
FitnessCenterService/obj/Debug/FitnessCenterService.dll
FitnessCenterService/obj/Debug/FitnessCenterService.pdb
FitnessCenterService/obj/Debug/TempPE/Models.FitnessCenterDbContext.Designer.cs.dll
FitnessCenterService/obj/Debug/TempPE/Models.FitnessCenterDbContext.cs.dll
packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/tools/install.ps1
FitnessCenterService.v11.suo
FitnessCenterService/obj/
